<h1>Coin Counter</h1>
<form action="/coin">
  <div class="form-group">
    <label for="coin">Enter in change amount.
    </label>
    <input id="coin" name="coin" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
